$font-dark-clr: rgb(34, 34, 34);
$font-light-clr: rgb(106, 106, 106);

$background: white;
$background-darken: rgb(247, 247, 247);

$border-clr: rgb(221, 221, 221);
$border-darken: rgb(34, 34, 34);

$box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px 0px;
