@import "mixins";
@import "variables";

#booking-page {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  h1 {
    text-align: center;
    margin: 0;
  }

  .filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-icon {
      display: flex;
    }

    .dropdowns-container {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      align-items: center;
      gap: 5px;
    }
  }
}

// styling to make clear filter button stand out
button.clear-filter-button {
  border: none;
}

.room-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
  gap: 1.25rem;

  .room-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    li {
      display: flex;
    }

    box-icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .room-image-container {
      display: inline-block;
      aspect-ratio: 1 / 1;
      position: relative;

      img {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0; /* follow the parent's edges */

        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;

        border-radius: 10px;
      }
    }

    .room-name {
      @include roboto(600);
      font-size: 2rem;
      text-transform: uppercase;
    }

    .room-info {
      padding: 10px;
      height: 150px;

      ul {
        li {
          display: flex;
          align-items: center;
          font-size: 0.8rem;
        }

        color: $font-light-clr;
        margin: 0;
        padding: 0;
      }
    }
  }
}
