@import "mixins";
@import "variables";

#booking-page {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  h1 {
    text-align: center;
    // margin: 0;
  }

  .filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $border-clr;
    border-bottom: 1px solid $border-clr;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    box-icon {
      display: flex;
    }

    .dropdowns-container {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      align-items: center;
      gap: 5px;
    }
  }

  .unavailable-room-button {
    text-decoration: line-through;
    background: darken(white, 20%);
    cursor: not-allowed;
  }
}

// styling to make clear filter button stand out
button.clear-filter-button {
  border: none;
}

.room-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
  margin-top: 0.5rem;
  gap: 1.25rem;

  .room-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    li {
      display: flex;
    }

    box-icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .room-image-container {
      display: inline-block;
      aspect-ratio: 1 / 1;
      position: relative;

      img {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0; /* follow the parent's edges */

        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;

        border-radius: 10px;
      }
    }

    .room-name {
      @include roboto(600);
      font-size: 2rem;
      text-transform: uppercase;
    }

    .room-info {
      padding: 10px;
      min-height: 100px;

      ul {
        display: flex;
        flex-wrap: wrap;

        li {
          display: flex;
          align-items: center;
          font-size: 0.8rem;

          &:not(:last-child)::after {
            content: "/";
            padding: 0 5px;
          }
        }

        color: $font-light-clr;
        margin: 0;
        padding: 0;
      }
    }

    .book-room-button {
      border-radius: 10px;
    }
  }
}

.book-room-button {
  @include custom-button;
}
