@import "mixins";

#login-page {
  min-height: 100vh;
  background-image: url("../images/login.jpg");
  position: relative;

  & > * {
    background: white;
    width: 50%;
    position: absolute;
    min-height: 100vh;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .login-title {
    @include roboto(600);
    font-size: 4rem;
    text-transform: uppercase;
    margin: 0;
  }

  .login-slogan {
    font-size: 2rem;
    margin: 0;
  }

  .login-form {
    display: flex;
    flex-direction: column;

    width: 100%;

    .login-error {
      font-size: 0.9rem;
      color: red;
    }

    & > * {
      display: flex;
      flex-direction: column;

      &:last-child {
        justify-content: space-between;
        height: 100px;
      }
    }
  }
}
