body {
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}

/* Dropdown Button */
.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;

  // added through Javascript (done for accessibility purposes)
  &.open {
    .dropdown-content {
      /* Show the dropdown menu on hover */
      display: block;
    }

    .dropbtn {
      /* Change the background color of the dropdown button when the dropdown content is shown */
      background-color: #3e8e41;
    }
  }
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  /* Anything directly inside a dropdown */
  & > * {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

    /* Change color of dropdown things inside dropdown on hover */
    &:hover {
      background-color: #ddd;
    }
  }
}
