@import "variables";
@import "mixins";

*,
button {
  font-size: 1.1rem;
}

body {
  @include roboto;
  background-color: white;
  box-sizing: border-box;
}

#booking-page,
#history-page {
  padding: 0 3rem 3rem;
}

.button-style {
  background-color: white;
  color: $font-dark-clr;
  padding: 12px 16px;
  font-size: 16px;
  border: 1px solid $font-light-clr;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background-color: $background-darken;
  }
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  // .logo {
  //   font-size: 2rem;
  // }

  .hamburger-menu button.button-style {
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;

  // added through Javascript (done for accessibility purposes)
  &.open .dropdown-content {
    /* Show the dropdown menu on hover */
    display: block;
  }
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  $rounded-corner: 10px;

  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  // box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-shadow: $box-shadow;
  right: 0;
  z-index: 1;

  border-radius: $rounded-corner;

  /* Anything directly inside a dropdown */
  & > * {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

    /* Change color of dropdown things inside dropdown on hover */
    &:hover {
      background-color: #ddd;
    }

    &:first-child {
      border-top-left-radius: $rounded-corner;
      border-top-right-radius: $rounded-corner;
    }

    &:last-child {
      border-bottom-left-radius: $rounded-corner;
      border-bottom-right-radius: $rounded-corner;
    }
  }

  & > button {
    width: 100%;
    border: none;
  }
}
